* {
  margin: 300;
  padding: 0;
  font-size: 100%;
}

/* MENU!!!*/
.menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  font-family: sans-serif;
}

.menu-toggle {
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-weight: bold;
  background: #f5f5f5;
}

.menu-content {
  display: none;
  flex-direction: column;
  padding: 0.5rem 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* MOSTRAR MENU */
.menu:hover .menu-content {
  display: flex;
}

.menu-content a {
  text-decoration: none;
  color: #333;
  margin: 0.3rem 0;
}

.menu-content a:hover {
  opacity: 70%
}

/* TITULOS */

.titulo {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.4em;
text-transform: uppercase;
}

.ref {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
      font-weight: bold;
  font-size: 1.3rem;
}

.subtitle {
font-weight: bold;  
text-transform: uppercase;
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 0.1em;
}

.about {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.profile-pic {
  float: left;
  max-width: 250px;
  width: 200px;
  height: auto;
  margin: 0 1.5rem 1rem 0;
  border-radius: 20px;
}

.about-text {
  max-width: 650px;
}

/* FULL CONTENIDO */

.cuerpo {
  max-width: 700px;
  margin: 0 auto; /* all centered*/
  padding: 1rem;
  /* internal padding */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.experience ul {
  margin-top: 1.5rem;
    list-style: none;
  padding-left: 1.2rem;
} 

.exp li::before {
  content: "•";
}

.date {
  color: #343434;
  font-size: smaller;
}

.job-container {
  display: flex;
  align-items: flex-start;
}

.pos {
  float: left;
  font-style: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.work {
  float: right;
  font-style: italic;
}

.cursos {
  padding-left: 1rem;
}

.skills {
  padding-left: 1rem;
}

/*lineas*/
hr.solid {
  border-top: 0.5px solid #bbb;
}

/* links */
a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  opacity: 70%
}

/* footer */
footer {
  align-items: center;
  font-family: "Work Sans", sans-serif;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}